<div id="kt_header_mobile" class="kt-header-mobile  kt-header-mobile--fixed ">
    <div class="kt-header-mobile__logo">
        <a href="index.html">
            <img alt="Logo" src="assets/media/logos/logo-8-sm.png" />
        </a>
    </div>
    <div class="kt-header-mobile__toolbar">
        <button class="kt-header-mobile__toolbar-toggler" id="kt_header_mobile_toggler"><span></span></button>
        <button class="kt-header-mobile__toolbar-topbar-toggler" id="kt_header_mobile_topbar_toggler"><i class="flaticon-more-1"></i></button>
    </div>
</div>
<div class="kt-header__top">
    <div class="kt-container  kt-container--fluid ">

        <!-- begin:: Brand -->
        <div class="kt-header__brand   kt-grid__item" id="kt_header_brand">
            <div class="kt-header__brand-logo">
                <a href="index.html">
                    <img alt="Logo" src="/assets/media/logos/logo-4k-white.png" class="kt-header__brand-logo-default"/>
                    <img alt="Logo" src="/assets/media/logos/logo-4k-white.png" class="kt-header__brand-logo-sticky" />
                </a>
            </div>
        </div>

        <!-- end:: Brand -->

        <!-- begin:: Header Topbar -->
        <div class="kt-header__topbar">

            

        

        
            <!--begin: User bar -->
            <div class="kt-header__topbar-item kt-header__topbar-item--user">
                <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="0px,10px">
                    <span class="kt-header__topbar-welcome kt-visible-desktop">Hi,</span>
                    <span class="kt-header__topbar-username kt-visible-desktop">{{listPerson.firstName}}</span>
                    <img alt="Pic"  [src]="listPerson.image" />
                    <span class="kt-header__topbar-icon kt-bg-brand kt-font-lg kt-font-bold kt-font-light kt-hidden">S</span>
                    <span class="kt-header__topbar-icon kt-hidden"><i class="flaticon2-user-outline-symbol"></i></span>
                </div>
                <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-xl">

                    <!--begin: Head -->
                    <div class="kt-user-card kt-user-card--skin-light kt-notification-item-padding-x">
                        <div class="kt-user-card__avatar">
                            <img class="kt-hidden-" alt="Pic" [src]="listPerson.image" />

                            <!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->
                            <span class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bold kt-hidden">S</span>
                        </div>
                        <div class="kt-user-card__name">
                            {{listPerson.firstName }} {{listPerson.lastName}}
                        </div>
                        
                    </div>

                    <!--end: Head -->

                    <!--begin: Navigation -->
                    <div class="kt-notification">
                        <a [routerLink]="['/home/profil']" class="kt-notification__item">
                            <div class="kt-notification__item-icon">
                                <i class="flaticon2-calendar-3 kt-font-success"></i>
                            </div>
                            <div class="kt-notification__item-details">
                                <div class="kt-notification__item-title kt-font-bold">
                                    My Profile
                                </div>
                                <div class="kt-notification__item-time">
                                    Account settings and more
                                </div>
                            </div>
                        </a>
                        <a [routerLink]="['/home/collab-list']" class="kt-notification__item">
                            <div class="kt-notification__item-icon">
                                <i class="flaticon2-calendar-3 kt-font-success"></i>
                            </div>
                            <div class="kt-notification__item-details">
                                <div class="kt-notification__item-title kt-font-bold">
                                    List Collab
                                </div>
                                <div class="kt-notification__item-time">
                                    Choose a profil
                                </div>
                            </div>
                        </a>
                        <a [routerLink]="['/home/version-list']" class="kt-notification__item">
                            <div class="kt-notification__item-icon">
                                <i class="flaticon2-calendar-3 kt-font-success"></i>
                            </div>
                            <div class="kt-notification__item-details">
                                <div class="kt-notification__item-title kt-font-bold">
                                    Version List
                                </div>
                                <div class="kt-notification__item-time">
                                    Edit a version
                                </div>
                            </div>
                        </a>
                    
                        <div class="kt-notification__custom kt-space-between">
                            <a (click)="logout()" target="_blank" class="btn btn-label btn-label-brand btn-sm btn-bold">Sign Out</a>
                        </div>
                    </div>

                    <!--end: Navigation -->
                </div>
            </div>

            <!--end: User bar -->

        
        </div>

        <!-- end:: Header Topbar -->
    </div>
</div>