<div class="modal fade" id="choose" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="exampleModalLabel">Choose Your template</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             </button>
          </div>
          <div class="modal-body">
             <div class="row ">
               
                <div class="box col-3"style="background-image: url(https://firebasestorage.googleapis.com/v0/b/cvthequepfe.appspot.com/o/temp2.png?alt=media&token=d4c89b25-2697-495d-95ee-91161641764a);">
                   <div class="card-img-overlay">
                      <div class="content"><button  type="button" class="btn btn-link" data-index="1" data-displayname="Concept" data-color="#39c3b1" data-skin="SRZ2">Preview Template</button><button data-dismiss="modal" (click)="temp1()"[routerLink]="['/home/edit']" type="button" class="btn btn-primary" data-buttontype="thumbnail" data-skin="SRZ2" data-htmlurl="https://configservicestorage.blob.core.windows.net/livecareerrepository/SRZ2.htm" data-svgurl="https://configservicestorage.blob.core.windows.net/livecareerrepository/SkinImages/srz2.png" data-displayname="Concept" data-color="#39c3b1">Select Template</button></div>
                   </div>
                </div>
                <div class="box col-3"style="background-image: url(https://firebasestorage.googleapis.com/v0/b/cvthequepfe.appspot.com/o/page-0.png?alt=media&token=b739bb78-346d-4c61-8a82-3e500a5f67a0);">
                   <div class="card-img-overlay">
                      <div class="content"><button type="button" class="btn btn-link" data-index="1" data-displayname="Concept" data-color="#39c3b1" data-skin="SRZ2">Preview Template</button><button data-dismiss="modal" (click)="temp2()" [routerLink]="['/home/edit']"  type="button" class="btn btn-primary" data-buttontype="thumbnail" data-skin="SRZ2" data-htmlurl="https://configservicestorage.blob.core.windows.net/livecareerrepository/SRZ2.htm" data-svgurl="https://configservicestorage.blob.core.windows.net/livecareerrepository/SkinImages/srz2.png" data-displayname="Concept" data-color="#39c3b1">Select Template</button></div>
                   </div>
                </div>
                
             </div>
          </div>
       </div>
    </div>
 </div>
 <!--Begin::Row-->
 <div class="row">
    <div class="col-xl-12 col-lg-12 order-lg-3 order-xl-1">
       <div class="kt-portlet kt-portlet--mobile">
          <div class="kt-portlet__head kt-portlet__head--lg">
             <div class="kt-portlet__head-label">
                <span class="kt-portlet__head-icon">
                <i class="kt-font-brand flaticon2-line-chart"></i>
                </span>
                <h3 class="kt-portlet__head-title">
                   Collab Selection
                </h3>
             </div>
             
          </div>
          <div id="bloc">

          <div class="kt-portlet__body">
             <!--begin: Search Form -->
             <div class="kt-form kt-form--label-right kt-margin-t-20 kt-margin-b-10">
                <div class="row align-items-center">
                   <div class="col-xl-12 order-2 order-xl-1">
                      <div class="row align-items-center">
                         <div class="col-md-3 kt-margin-b-20-tablet-and-mobile">
                            <div class="kt-input-icon kt-input-icon--left">
                               <input type="text" class="form-control" placeholder="Search..." name="search" autocomplete="off"  [(ngModel)]="searchText">
                               <span class="kt-input-icon__icon kt-input-icon__icon--left">
                               <span><i class="la la-search"></i></span>
                               </span>
                            </div>
                         </div>
                      </div>
                   </div>
                      <div class="col-xl-12 order-2 order-xl-1" style="margin-top: 20px; ">
                        <div class="row align-items-center">
                         <div class="col-md-3 kt-margin-b-20-tablet-and-mobile">
                           <div class="kt-form__group kt-form__group--inline">
                              <div class="kt-form__label">
                                 <label>Competences:</label>
                              </div>
                              <div class="kt-form__control">
                                 <div class="kt-input-icon kt-input-icon--left">
                                    <input type="text" class="form-control" placeholder="Search..." name="search" autocomplete="off"  [(ngModel)]="searchComp">
                                    <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                    <span><i class="la la-search"></i></span>
                                    </span>
                                 </div>
                                                       
                              </div>
                           </div>
                        </div>  
                         <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                            <div class="kt-form__group kt-form__group--inline">
                               <div class="kt-form__label">
                                  <label>Departement:</label>
                               </div>
                               <div class="kt-form__control">
                                 <select class="form-control " [(ngModel)]="searchDep">                                    <option class="dropdown-item" value="E-business">E-business</option>
                                    <option class="dropdown-item" value="">All</option>

                                    <option class="dropdown-item" value="E-business">E-business</option>
                                    <option class="dropdown-item" value="ESS">ESS</option>
                                    <option class="dropdown-item" value="Mobile">Mobile</option>
                                    <option class="dropdown-item" value="Banking-Lab">Banking-Lab</option>              
                                                        </select>
                                                        
                               </div>
                            </div>
                         </div>
                         <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                           <div class="kt-form__group kt-form__group--inline">
                              <div class="kt-form__label">
                                 <label>Poste:</label>
                              </div>
                              <div class="kt-form__control">
                                <select class="form-control " [(ngModel)]="searchPoste">
                                 <option class="dropdown-item" value="">All</option>

                                   <option class="dropdown-item" value="Software Developer">Software Developer</option>
                                   <option class="dropdown-item" value="Team Leader">Team Leader</option>
                                              
                                                       </select>
                                                       
                              </div>
                           </div>
                        </div>
                        <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                           <div class="kt-form__group kt-form__group--inline">
                              <div class="kt-form__label">
                                 <label>Experience:</label>
                              </div>
                              <div class="kt-form__control">
                                <select class="form-control " [(ngModel)]="searchExp">
                                 <option class="dropdown-item" value="">All</option>

                                   <option class="dropdown-item" value="0">0</option>
                                   <option class="dropdown-item" value="1">1</option>
                                   <option class="dropdown-item" value="2">2</option>
                                   <option class="dropdown-item" value="3">3</option>
                                   <option class="dropdown-item" value="4">4</option>
                                   <option class="dropdown-item" value="5">5</option>

                                   <option class="dropdown-item" value="6">6</option>
                                   <option class="dropdown-item" value="7">7</option>
                                   <option class="dropdown-item" value="8">8</option>
                                   <option class="dropdown-item" value="9">9</option>
                                   <option class="dropdown-item" value="10">10</option>

                                              
                                     </select>
                                                       
                              </div>
                           </div>
                        </div>
                        <div class="col-md-2 kt-margin-b-20-tablet-and-mobile">
                           <div class="kt-form__group kt-form__group--inline">
                              <div class="kt-form__label">
                                 <label>Age:</label>
                              </div>
                              <div class="kt-form__control">
                                <select class="form-control " [(ngModel)]="searchAge">
                                 <option class="dropdown-item" value="">All</option>

                                   <option class="dropdown-item" value="20 21 22 23 24 24 25">20-25</option>
                                   <option class="dropdown-item" value="35">25-30</option>
                                   <option class="dropdown-item" value="30 31 32 33 35 36 37 38 39 40 41 42 50">plus</option>

                                              
                                     </select>
                                                       
                              </div>
                           </div>
                        </div>
                        
                      </div>
                   </div>
                 
                </div>
             </div>
             <!--end: Search Form -->
             <!--begin: Selected Rows Group Action Form -->
             <div class="kt-form kt-form--label-align-right kt-margin-t-20 collapse" id="kt_datatable_group_action_form">
                <div class="row align-items-center">
                   <div class="col-xl-12">
                      <div class="kt-form__group kt-form__group--inline">
                         <div class="kt-form__label kt-form__label-no-wrap">
                            <label class="kt-font-bold kt-font-danger-">Selected
                            <span id="kt_datatable_selected_number">0</span> records:</label>
                         </div>
                         <div class="kt-form__control">
                            <div class="btn-toolbar">
                               <div class="dropdown">
                                  <button type="button" class="btn btn-brand btn-sm dropdown-toggle" data-toggle="dropdown">
                                  Update status
                                  </button>
                                  <div class="dropdown-menu">
                                     <a class="dropdown-item" href="#">Pending</a>
                                     <a class="dropdown-item" href="#">Delivered</a>
                                     <a class="dropdown-item" href="#">Canceled</a>
                                  </div>
                               </div>
                               &nbsp;&nbsp;&nbsp;
                               <button class="btn btn-sm btn-danger" type="button" id="kt_datatable_delete_all">Delete All</button>
                               &nbsp;&nbsp;&nbsp;
                               <button class="btn btn-sm btn-success" type="button" data-toggle="modal" data-target="#kt_modal_fetch_id">Fetch Selected Records</button>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <!--end: Selected Rows Group Action Form -->
          </div>
          <div class="kt-portlet__body kt-portlet__body--fit">
             <!--begin: Datatable -->
             <div class="kt-datatable kt-datatable--default kt-datatable--brand kt-datatable--scroll kt-datatable--loaded" id="local_record_selection" style="">
                 
                <table class="kt-datatable__table" style="display: block; max-height: 350px;">
                   <thead class="kt-datatable__head">
                      <tr class="kt-datatable__row" style="left: 0px;">
                         <th class="kt-datatable__cell kt-datatable__toggle-detail kt-datatable__cell--sort"><span></span></th>
                         <th data-field="OrderID" class="kt-datatable__cell kt-datatable__cell--sort"><span style="width: 110px;">Name</span></th>
                         <th data-field="OrderID" class="kt-datatable__cell kt-datatable__cell--sort"><span style="width: 110px;">Age</span></th>
                         <th data-field="OrderID" class="kt-datatable__cell kt-datatable__cell--sort"><span style="width: 110px;">Gender</span></th>
                         <th data-field="Country" class="kt-datatable__cell kt-datatable__cell--sort"><span style="width: 110px;">Departement</span></th>
                         <th data-field="ShipAddress" class="kt-datatable__cell kt-datatable__cell--sort"><span style="width: 110px;">Job title</span></th>
                         <th data-field="ShipDate" class="kt-datatable__cell kt-datatable__cell--sort"><span style="width: 110px;">Competences</span></th>
                         <th data-field="Status" class="kt-datatable__cell kt-datatable__cell--sort" style="display: none;"><span style="width: 110px;">Projects</span></th>
                         <th data-field="Type" data-autohide-disabled="false" class="kt-datatable__cell kt-datatable__cell--sort"><span style="width: 110px;">Experience</span></th>
                         <th data-field="Actions" data-autohide-disabled="false" class="kt-datatable__cell--left kt-datatable__cell kt-datatable__cell--sort"><span style="width: 110px;">Actions</span></th>
                      </tr>
                   </thead>
                   <tbody style="max-height: 297px; overflow: auto;" class="kt-datatable__body">
                      

                      <tr data-row="1" class="kt-datatable__row kt-datatable__row--even" style="left: 0px;" *ngFor="let person of arrayListPerson | filter:searchText | filter:searchDep | filter:searchDep   | filter:searchExp   | filter:searchAge  | filter:searchPoste    | filter:searchComp    ">
                         <td class="kt-datatable__cell kt-datatable__toggle-detail"><a class="kt-datatable__toggle-detail" href=""><i class="fa fa-caret-right"></i></a></td>
                         <td data-field="OrderID" class="kt-datatable__cell"><span style="width: 110px;">{{person.firstName}} {{person.lastName}}     </span></td>
                         <td data-field="Country" class="kt-datatable__cell"><span style="width: 60px;">{{person.age}}</span></td>
                         <td data-field="ShipAddress" class="kt-datatable__cell"><span style="width: 110px;"> {{person.gender}}</span></td>
                         <td data-field="ShipDate" class="kt-datatable__cell"><span style="width: 110px;"  >{{person.departement}}</span></td>
                         <td data-field="ShipDate" class="kt-datatable__cell"><span style="width: 110px;">{{person.jobTitle}}</span></td>

                         <td data-field="Status" class="kt-datatable__cell" ><span style="width: 170px;">
                           <div *ngFor="let tool of person.competences ">
                            <span class="kt-badge  kt-badge--danger kt-badge--inline kt-badge--pill"> {{ tool.name }} </span>
                            </div></span>
                         </td>
                         <td data-field="ShipDate" class="kt-datatable__cell"><span style="width: 110px;">{{person.experience }}years</span></td>

                         <td class="kt-datatable__cell--left kt-datatable__cell" data-field="Actions" data-autohide-disabled="false">
                            <span style="overflow: visible; position: relative; width: 110px;">
                              <div class="kt-widget__action">
                                 <a  (click)="sendId(person.uid)"data-toggle="modal" data-target="#choose" class="btn btn-label-brand btn-sm btn-upper inline">Create CV</a>
     
                             </div>
                
                            </span>
                         </td>
                      </tr>

                   </tbody>
                </table>


                <div class="kt-datatable__pager kt-datatable--paging-loaded">
                   <ul class="kt-datatable__pager-nav">
                      <li><a title="First" class="kt-datatable__pager-link kt-datatable__pager-link--first kt-datatable__pager-link--disabled" data-page="1" disabled="disabled"><i class="flaticon2-fast-back"></i></a></li>
                      <li><a title="Previous" class="kt-datatable__pager-link kt-datatable__pager-link--prev kt-datatable__pager-link--disabled" data-page="1" disabled="disabled"><i class="flaticon2-back"></i></a></li>
                      <li style=""></li>
                      <li style="display: none;"><input type="text" class="kt-pager-input form-control" title="Page number"></li>
                      <li><a class="kt-datatable__pager-link kt-datatable__pager-link-number kt-datatable__pager-link--active" data-page="1" title="1">1</a></li>
                      <li><a class="kt-datatable__pager-link kt-datatable__pager-link-number" data-page="2" title="2">2</a></li>
                      <li><a class="kt-datatable__pager-link kt-datatable__pager-link-number" data-page="3" title="3">3</a></li>
                      <li style=""></li>
                      <li><a title="Next" class="kt-datatable__pager-link kt-datatable__pager-link--next" data-page="2"><i class="flaticon2-next"></i></a></li>
                      <li><a title="Last" class="kt-datatable__pager-link kt-datatable__pager-link--last" data-page="3"><i class="flaticon2-fast-next"></i></a></li>
                   </ul>
                   <div class="kt-datatable__pager-info">
                      <div class="dropdown bootstrap-select kt-datatable__pager-size" style="width: 60px;">
                         <select class="selectpicker kt-datatable__pager-size" title="Select page size" data-width="60px" data-container="body" data-selected="10" tabindex="-98">
                            <option class="bs-title-option" value=""></option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                         </select>
                         <button type="button" class="btn dropdown-toggle btn-light" data-toggle="dropdown" role="combobox" aria-owns="bs-select-13" aria-haspopup="listbox" aria-expanded="false" title="Select page size">
                            <div class="filter-option">
                               <div class="filter-option-inner">
                                  <div class="filter-option-inner-inner">10</div>
                               </div>
                            </div>
                         </button>
                         <div class="dropdown-menu ">
                            <div class="inner show" role="listbox" id="bs-select-13" tabindex="-1">
                               <ul class="dropdown-menu inner show" role="presentation"></ul>
                            </div>
                         </div>
                      </div>
                      <span class="kt-datatable__pager-detail">Showing 1 - 10 of 27</span>
                   </div>
                </div>
             </div>
             <!--end: Datatable -->
          </div>
          </div>
       </div>
    </div>
 </div>
 <!--End::Row-->