
.ck .ck-content > :first-child  p{
	margin-top: 0!important;
}

.ck .ck-content > :last-child p{
	margin-bottom: 0!important;
}
 .ck .ck-editor__editable_inline > *:first-child {
    margin-top: 0!important;
}

 .ck .ck-editor__editable_inline > *:last-child {
    margin-bottom: 0!important;
}
.ck .ck-editor__editable_inline {
    margin-bottom: 0!important;
    margin-top: 0!important;

}

.color-picker {
    border-radius: 5px;
  }
    .circle {
      size: 25px;
      height: 25px;
      width: 25px;
      border-radius: 100%;
      cursor: pointer;
      border: 1px solid #dadada;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.14);
    }
  
   
  
      .colors {
        display: flex;
        flex-wrap: wrap;
      }
  
      .hex-code {
        height: 45px;
        display: flex;
        margin-top: 20px;
  
       
   
  }
  
::ng-deep .cdk-overlay-container {
    position: fixed !important;
    z-index: 100000 !important; /* set value you need */
}
.mat-form-field{ width: 100%;}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
.modal{
   margin-left: 20%;
   margin-top: 20px;
}
.modal-content {
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    margin-right: 0px;
    border-right-width: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;

}
.modal-dialog .modal-lg{
   left: 20%;

}
.modal-header{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom-width: 1px;
    border-bottom: 1px solid #ebedf2;
    justify-content: space-between;
    padding: 1.25rem;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
    align-items: flex-start;
    -webkit-box-pack: justify;
    display: flex;
    -webkit-box-align: start;
}
.modal-body{
    padding-top: 20px;
    padding-bottom: 20px;
}
.modal-body .form{
    padding-bottom: 10px; 
}
 .form-group {
    margin-bottom: 0.5rem;
}
.modal-footer{
    padding-top: 16;
    padding-bottom: 16;
    padding-left: 16px;
    padding-right: 16px;
    border-top-width: 1px;
    border-top: 1px solid #ebedf2;
    padding: 1.25rem;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
    align-items: flex-start;
    -webkit-box-pack: justify;
    display: flex;
    -webkit-box-align: start;

}
#document.skn-srz1.fontsize {
    font-size: 11px;
}
#document.skn-srz1.fontface {
    font-family: Century Gothic;
}
#document.skn-srz1.pagesize {
    width: 612px;
}
#document.skn-srz1.fontsize {
    font-size: 11px;
}
#document.skn-srz1.fontface {
    font-family: Century Gothic;
}
#document.skn-srz1.pagesize {
    width: 612px;
}
#document.skn-srz1, #document.skn-srz1 table {
    line-height: 18px;
}
#document.skn-srz1 {
    color: #343434;
    font-variant-ligatures: none;
    line-height: 16px;
    min-height: 792px;
    box-sizing: border-box;
}
#document.skn-srz1, #document.skn-srz1 table {
    line-height: 18px;
}
#document.skn-srz1 {
    color: #343434;
    font-variant-ligatures: none;
    line-height: 16px;
    min-height: 792px;
    box-sizing: border-box;
}
#document {
    min-height: 795px;
}
#document, #dummyDocument {
    box-sizing: content-box;
    color: initial;
    margin-left: auto;
    margin-right: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#document {
    background-color: #fff;
    cursor: default;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}
* {
    transition: color 0.2s, background-color .25s, border-color .5s, opacity .25s;
}
*, *::before, *::after {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #7997b0;
    border-radius: 0;
    outline: 0;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
    pointer-events: none;
}
body {
    text-align: left;
    font-feature-settings: "liga" 0;
    -moz-font-feature-settings: "liga" off;
}
body {
    text-align: left;
    font-feature-settings: "liga" 0;
    -moz-font-feature-settings: "liga" off;
}
body {
    margin: 0;
    height: 100%;
    line-height: inherit;
}

html {
    background: #fff;
    color: #58585f;
    font-size: 62.5%;
    font-family: HK Grotesk,sans-serif;
    height: 100%;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html {
    color: -internal-root-color;
}
*, *::before, *::after {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: border-box;
}

.example {
    cursor: pointer;
    height: 100%;
    position: relative;
    overflow: hidden;
    width: 100%;
    text-align:center;
    }
    .example .fadedbox {
    background-color: #666666;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    opacity: 0;
    width: 100%;
    height: 100%;
    padding: 50px 20px;
    }
    .example:hover .fadedbox { opacity: 0.8; }
    .example .text {
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
    }
    .example .title {
    font-size: 2.5em;
    text-transform: uppercase;
    opacity: 0;
    transition-delay: 0.2s;
    transition-duration: 0.3s;
    }
    .example:hover .title,
    .example:focus .title {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    }